---
import { Icon } from "astro-icon/components";
---

<section class="section section-contacts">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <h3 class="font-semibold text-xl lg:text-[40px]">Find us</h3>
        <div class="mt-10 grid gap-6">
          <div
            class="grid grid-cols-[54px_1fr] gap-4 items-center dark:bg-dark dark:border-dark bg-gray-50 border border-gray-200 rounded-lg p-4"
          >
            <div
              class="bg-main text-white flex items-center justify-center rounded-full w-13.5 h-13.5"
            >
              <Icon name="lucide:phone-call" size={24} />
            </div>
            <div>
              <p class="font-semibold text-lg mb-0">Call Us</p>
              <a href="tel:+(08)255201888">+(08) 255 201 888</a>
            </div>
          </div>

          <div
            class="grid grid-cols-[54px_1fr] gap-4 items-center dark:bg-dark dark:border-dark bg-gray-50 border border-gray-200 rounded-lg p-4"
          >
            <div
              class="bg-main text-white flex items-center justify-center rounded-full w-13.5 h-13.5"
            >
              <Icon name="lucide:mail" size={24} />
            </div>
            <div>
              <p class="font-semibold text-lg mb-0">Email Now</p>
              <a href="mailto:Hello@procleaning.com">Hello@procleaning.com</a>
            </div>
          </div>

          <div
            class="grid grid-cols-[54px_1fr] gap-4 items-center dark:bg-dark dark:border-dark bg-gray-50 border border-gray-200 rounded-lg p-4"
          >
            <div
              class="bg-main text-white flex items-center justify-center rounded-full w-13.5 h-13.5"
            >
              <Icon name="lucide:map-pin" size={24} />
            </div>
            <div>
              <p class="font-semibold text-lg mb-0">Address</p>
              <a href="#"
                ><address class="not-italic">
                  7510, Brand Tower, New York, USA
                </address></a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="text-sm mb-0">Contact info</p>
        <h3 class="font-semibold text-xl lg:text-[40px] mb-3">Keep In Touch</h3>
        <p class="">
          We prioritize responding to your inquiries promptly to ensure you
          receive the assistance you need in a timely manner
        </p>

        <form action="/" method="POST" class="mt-8 grid gap-3">
          <fieldset class="fieldset">
            <input
              type="text"
              placeholder="Name"
              class="input w-full validator"
              id="contact-name"
              name="contact_name"
              required
            />
            <p class="validator-hint hidden">Required</p>
          </fieldset>

          <fieldset class="fieldset">
            <input
              type="text"
              placeholder="Email"
              class="input w-full validator"
              id="contact-email"
              name="contact_email"
              required
            />
            <p class="validator-hint hidden">Required</p>
          </fieldset>
          <fieldset class="fieldset">
            <textarea
              class="textarea w-full validator"
              placeholder="Message"
              id="contact-msg"
              name="contact_msg"
              required></textarea>
            <p class="validator-hint hidden">Required</p>
          </fieldset>
          <button
            class="btn bg-main border-main text-white rounded-lg hover:bg-green-600 shadow-none lg:mr-auto"
            type="submit">Sent Massage</button
          >
        </form>
      </div>
    </div>
  </div>
</section>
