---
import NewsCard from "../card/NewsCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section class="section section-services">
  <div class="container">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-4 border-b border-b-main pb-10"
    >
      <h2 class="capitalize">Stay Updated with Our Tips & Service News!</h2>
      <div>
        <div class="flex flex-wrap justify-between items-center gap-3">
          <p class="font-semibold mb-3 text-xl">Our Blog</p>
          <p>
            <a href="/blog" class="text-main underline hover:no-underline"
              >All news</a
            >
          </p>
        </div>
        <p class="mb-3">
          Stay informed with our latest cleaning tips, service updates, expert
          advice on maintaining an immaculate home
        </p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-10 relative"
    >
      {posts.map((post) => <NewsCard {...post} />)}
    </div>
  </div>
</section>
