---

---

<section class="section section-plan grid">
  <div
    class="bg-main text-white [grid-area:1/1/2/2] bg-no-repeat bg-cover h-[30em] bg-[url(/img/bg/bg1.webp)] py-20"
  >
  </div>
  <div class="[grid-area:1/1/2/2] text-white pt-20">
    <div class="container text-center">
      <div class="mx-auto max-w-xl mb-4">
        <p class="text-sm mb-1">Our Pricing</p>
        <h2>Choose From Our Lowest Plans and Prices</h2>
      </div>

      <div class="mt-5 grid w-full">
        <div
          class="tabs mx-auto justify-center rounded-full border border-black/30 inline-flex bg-gray-50 text-black p-2 gap-3"
        >
          <button class="tab tab-active" data-tab="monthly">Monthly</button>
          <button class="tab" data-tab="yearly">Yearly</button>
        </div>

        <!-- Content -->
        <div class="mt-10">
          <div class="tab-content block" data-content="monthly">
            <div
              class="flex flex-wrap lg:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 w-full"
            >
              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Basic Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 59.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>Dusting of all surfaces</li>
                  <li>Sweeping and mopping floors</li>
                  <li>Vacuuming carpets and rugs</li>
                  <li>Cleaning of kitchen surfaces</li>
                  <li>Cleaning of bathroom surfaces</li>
                  <li>Emptying trash bins</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>

              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Enterprise Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 69.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>All services in the Basic Plan</li>
                  <li>Detailed dusting</li>
                  <li>Wiping down of kitchen appt</li>
                  <li>Cleaning inside the microwave</li>
                  <li>Changing bed linens</li>
                  <li>Spot cleaning walls and doors</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>

              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Premium Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 99.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>All services in the Clean Plan</li>
                  <li>Deep cleaning of kitchen appt</li>
                  <li>Baseboards, door frames, & vents</li>
                  <li>Organization of closets pantries</li>
                  <li>Carpet, upholstery spot cleaning</li>
                  <li>Detailed bathroom cleaning</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>
            </div>
          </div>

          <div class="tab-content hidden!" data-content="yearly">
            <div
              class="flex flex-wrap lg:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[1fr_1fr_1fr] gap-10 w-full"
            >
              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Basic Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 159.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>Dusting of all surfaces</li>
                  <li>Sweeping and mopping floors</li>
                  <li>Vacuuming carpets and rugs</li>
                  <li>Cleaning of kitchen surfaces</li>
                  <li>Cleaning of bathroom surfaces</li>
                  <li>Emptying trash bins</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>

              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Enterprise Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 169.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>All services in the Basic Plan</li>
                  <li>Detailed dusting</li>
                  <li>Wiping down of kitchen appt</li>
                  <li>Cleaning inside the microwave</li>
                  <li>Changing bed linens</li>
                  <li>Spot cleaning walls and doors</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>

              <article
                class="bg-white p-6 rounded-xl text-black w-full grid md:grid-cols-3 lg:grid-cols-1 items-center shadow gap-4"
              >
                <div>
                  <h2 class="text-lg mb-2 uppercase">Premium Package</h2>
                  <div
                    class="flex gap-2 items-end bg-main text-white justify-center rounded-lg p-3"
                  >
                    <p class="text-3xl font-bold">
                      <span class="text-base">$</span> 199.00 /
                    </p>
                    <small>Monthly</small>
                  </div>
                </div>

                <ul
                  class="mb-6 space-y-2 text-xs text-left pl-4 list-disc mt-4"
                >
                  <li>All services in the Clean Plan</li>
                  <li>Deep cleaning of kitchen appt</li>
                  <li>Baseboards, door frames, & vents</li>
                  <li>Organization of closets pantries</li>
                  <li>Carpet, upholstery spot cleaning</li>
                  <li>Detailed bathroom cleaning</li>
                </ul>
                <a
                  href="#"
                  class="btn btn-outline w-full rounded-md font-normal border-main text-main hover:bg-main hover:text-white"
                  >Book Now</a
                >
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const tabs = document.querySelectorAll("[data-tab]");
    const contents = document.querySelectorAll("[data-content]");

    tabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        const target = tab.dataset.tab;

        // active tab
        tabs.forEach((t) => t.classList.remove("tab-active"));
        tab.classList.add("tab-active");

        // switch content
        contents.forEach((c) => {
          c.classList.toggle("hidden!", c.dataset.content !== target);
        });
      });
    });
  });
</script>
