---
import { Image } from "astro:assets";
---

<section class="section section-1">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
      <div class="order-2 md:order-1">
        <p class="mb-3">Affordable cleaning solutions</p>
        <h2>High-Quality and Friendly Services at Fair Prices</h2>
        <p class="mb-6">
          We provide comprehensive cleaning services tailored to your needs.
          From residential cleaning services
        </p>
        <a
          href="#"
          class="btn bg-main border-main text-white rounded-lg hover:bg-green-600"
          >Get a quote</a
        >
      </div>
      <div class="order-1 md:order-2">
        <Image
          src="/img/img1.webp"
          alt=""
          width="478"
          height="421"
          format="webp"
          quality={45}
          class="w-auto h-auto m-auto"
        />
      </div>
    </div>
  </div>
</section>
