---
import ServiceCard from "../../components/card/ServiceCard.astro";
import { getCollection } from "astro:content";

const services = (await getCollection("service"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section class="section section-services">
  <div class="container">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-4 border-b border-b-main pb-10"
    >
      <h2 class="capitalize">We always provide the best service</h2>
      <div>
        <div class="flex flex-wrap justify-between items-center gap-3">
          <p class="font-semibold mb-3 text-xl">Services</p>
          <p>
            <a href="/service" class="text-main underline hover:no-underline"
              >All services</a
            >
          </p>
        </div>
        <p class="mb-3">
          While we can customize your cleaning plan to suit your needs, most
          clients schedule regular cleaning services :
        </p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-10 relative"
    >
      {services.map((service) => <ServiceCard {...service} />)}
    </div>
  </div>
</section>
