---
import TeamCard from "../card/TeamCard.astro";
import { getCollection } from "astro:content";

const team = (await getCollection("team"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section class="section section-services">
  <div class="container">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-4 border-b border-b-main pb-10"
    >
      <h2 class="capitalize">
        Effective Cleaning Requires an Expert Cleaning Team
      </h2>
      <div>
        <div class="flex flex-wrap justify-between items-center gap-3">
          <p class="font-semibold mb-3 text-xl">Expert Team</p>
          <p>
            <a href="/team" class="text-main underline hover:no-underline"
              >All team</a
            >
          </p>
        </div>
        <p class="mb-3">
          We have professional expert cleaning staff ensuring top-notch
          cleanliness and hygiene for your space.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-10 relative"
    >
      {team.map((people) => <TeamCard {...people} />)}
    </div>
  </div>
</section>
