---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<section class="section section-welcome">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <Image
        src="/img/img2.webp"
        alt=""
        width="535"
        height="442"
        format="webp"
        quality={45}
        class="w-auto h-auto"
      />
      <div>
        <h2>Welcome To Our Pro-cleaning Company!</h2>
        <p>
          We make your space shine! Professional and reliable cleaning service
          company providing top-notch solutions for homes and businesses.
          Satisfaction guaranteed!"
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 my-6 gap-4">
          <div
            class="grid grid-cols-[20px_1fr] items-center bg-gray-50 dark:bg-dark dark:bg-dark p-4 rounded gap-4"
          >
            <div
              class="bg-main text-white rounded-full flex items-center justify-center w-5 h-5"
            >
              <Icon name="lucide:check" />
            </div>
            <p class="font-semibold text-lg">Vetted professionals</p>
          </div>

          <div
            class="grid grid-cols-[20px_1fr] items-center bg-gray-50 dark:bg-dark p-4 rounded gap-4"
          >
            <div
              class="bg-main text-white rounded-full flex items-center justify-center w-5 h-5"
            >
              <Icon name="lucide:check" />
            </div>
            <p class="font-semibold text-lg">Next day availability</p>
          </div>

          <div
            class="grid grid-cols-[20px_1fr] items-center bg-gray-50 dark:bg-dark p-4 rounded gap-4"
          >
            <div
              class="bg-main text-white rounded-full flex items-center justify-center w-5 h-5"
            >
              <Icon name="lucide:check" />
            </div>
            <p class="font-semibold text-lg">Standard cleaning tasks</p>
          </div>

          <div
            class="grid grid-cols-[20px_1fr] items-center bg-gray-50 dark:bg-dark p-4 rounded gap-4"
          >
            <div
              class="bg-main text-white rounded-full flex items-center justify-center w-5 h-5"
            >
              <Icon name="lucide:check" />
            </div>
            <p class="font-semibold text-lg">Best Quality</p>
          </div>
          <div
            class="grid grid-cols-[20px_1fr] items-center bg-gray-50 dark:bg-dark p-4 rounded gap-4"
          >
            <div
              class="bg-main text-white rounded-full flex items-center justify-center w-5 h-5"
            >
              <Icon name="lucide:check" />
            </div>
            <p class="font-semibold text-lg">Affordable Prices</p>
          </div>
        </div>
        <div class="mt-6 grid grid-cols-2 gap-4 max-w-sm mx-auto sm:mx-0">
          <a
            href="#"
            class="btn bg-main border-main text-white rounded-lg hover:bg-green-600"
            >Book Now</a
          >
          <a href="#" class="btn btn-outline rounded-lg">Know More</a>
        </div>
      </div>
    </div>
  </div>
</section>
