---
import Layout from "../layouts/Main.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Not found">
  <section class="section flex-1 flex flex-col justify-center items-center">
    <div class="container text-center grid gap-4">
      <div class="text-center mx-auto">
        <Logo />
      </div>
      <h1 class="text-5xl lg:text-[10em] font-bold leading-none">404</h1>
      <p>Sorry, we couldn't fint that page</p>
      <a href="/" class="btn btn-neutral mx-auto shadow-none rounded-none"
        >GO TO HOME</a
      >
    </div>
  </section>
</Layout>
