---
import Layout from "../layouts/Main.astro";
import Logo from "../components/Logo.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<Layout title="500 Error">
  <section class="section flex-1 flex flex-col justify-center items-center">
    <div class="container text-center grid gap-4">
      <div class="text-center mx-auto">
        <Logo />
      </div>
      <h1 class="text-5xl lg:text-9xl font-bold">500</h1>
      <p>
        {error instanceof Error ? error.message : "Unknown error"}
      </p>
      <a href="/" class="btn btn-neutral mx-auto shadow-none rounded-none"
        >GO TO HOME</a
      >
    </div>
  </section>
</Layout>
