---
import Layout from "../layouts/Main.astro";
import Contacts from "../components/homepage/Contacts.astro";
import Hero from "../components/homepage/Hero.astro";
import Services from "../components/homepage/Services.astro";
import Sec1 from "../components/homepage/Sec1.astro";
import Team from "../components/homepage/Team.astro";
import Welcome from "../components/homepage/Welcome.astro";
import Plan from "../components/homepage/Plan.astro";
import Feedback from "../components/homepage/Feedback.astro";
import News from "../components/homepage/News.astro";
---

<Layout title="Homepage">
  <div>
    <Hero />
    <Services />
    <Sec1 />
    <Team />
    <Welcome />
    <Plan />
    <Feedback />
    <News />
    <Contacts />
  </div>
</Layout>
