---
import { NAV_MENU } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<div class="drawer-side">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
    ><span class="sr-only">Ouvrir le menu</span>
  </label>
  <div class="menu bg-dark text-white min-h-full w-80 p-4">
    <Logo mode="dark" />
    <ul class="mt-4">
      {
        NAV_MENU.map((item) => (
          <li>
            <HeaderLink href={item.url} class="hover:bg-black">
              {item.title}
            </HeaderLink>
          </li>
        ))
      }
    </ul>
    <div class="flex flex-col gap-2 items-center w-full mt-auto">
      <a
        href="#"
        class="btn bg-main border-main text-white rounded-lg hover:bg-green-600 hover:text-white! w-full"
        >Demander un devis</a
      >
    </div>
  </div>
</div>
