---
const today = new Date();
import Logo from "./Logo.astro";
---

<footer class="footer bg-dark text-white gap-0 block">
  <div class="footer-top w-full py-20">
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-10">
        <div>
          <Logo mode="dark" />
          <p class="mt-4">
            Stay updated with our latest cleaning tips, service updates, and
            helpful articles on maintaining a spotless home.
          </p>
        </div>
        <div class="grid grid-cols-2 gap-10">
          <nav class="grid gap-3">
            <h3 class="text-xl font-semibold">Company</h3>
            <a href="#" class="hover:underline hover:text-main">About Us</a>
            <a href="/service" class="hover:underline hover:text-main"
              >Services</a
            >
            <a href="/team" class="hover:underline hover:text-main">Our Team</a>
          </nav>
          <nav class="grid gap-3">
            <h3 class="text-xl font-semibold">Know More</h3>
            <a href="#" class="hover:underline hover:text-main">Support</a>
            <a href="/policy" class="hover:underline hover:text-main"
              >Privacy Policy</a
            >
            <a href="/terms" class="hover:underline hover:text-main"
              >Terms & conditions</a
            >
          </nav>
        </div>
        <div class="grid gap-3">
          <h3 class="text-xl font-semibold">Newsletter</h3>

          <form
            action="/"
            method="GET"
            class="mt-3 grid gap-4 grid-cols-1 sm:grid-cols-[2fr_1fr] lg:grid-cols-1"
          >
            <input
              type="text"
              placeholder="Email Goes here"
              class="input text-black dark:text-white w-full"
              name="subcscribe_email"
              id="subscribe-email"
            />
            <button
              class="btn bg-main border-main text-white rounded-lg hover:bg-green-600 lg:mr-auto shadow-none"
              type="submit">Send</button
            >
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btm w-full">
    <div class="container text-center border-t border-white py-10">
      &copy; {today.getFullYear()} “Procleaning” All Rights Received
    </div>
  </div>
</footer>
