---
import Image from "astro/components/Image.astro";
const { mode = "light" } = Astro.props;
---

<a href="/" class="logo">
  <Image
    src={mode == "light" ? `/img/logo.svg` : `/img/logo-w.svg`}
    alt="logo"
    width="204"
    height="50"
    fetchpriority="high"
    loading="eager"
    class="w-auto h-auto dark:hidden"
  />
  <Image
    src="/img/logo-w.svg"
    alt="logo"
    width="204"
    height="50"
    loading="eager"
    class="hidden dark:block"
  />
</a>
