---
import { NAV_MENU } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<div class="hidden lg:block mx-auto">
  <ul class="menu menu-horizontal gap-x-4">
    <!-- Navbar menu content here -->
    {
      NAV_MENU.map((item) => (
        <li>
          <HeaderLink href={item.url} class="hover:bg-white">
            {item.title}
          </HeaderLink>
        </li>
      ))
    }
  </ul>
</div>
