---
const { page } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="mt-20 flex items-center gap-4">
  {
    page.url.prev && (
      <a href={page.url.prev} class="btn btn-outline">
        <Icon name="lucide:arrow-left" size={18} />
        Previous
      </a>
    )
  }

  <span>
    Page {page.currentPage} of {page.lastPage}
  </span>

  {
    page.url.next && (
      <a href={page.url.next} class="btn btn-outline">
        Next <Icon name="lucide:arrow-right" size={18} />
      </a>
    )
  }
</div>
