---
import "swiper/css";
import "swiper/css/navigation";
import { Icon } from "astro-icon/components";
const { id, pagination = false, navigation = false, prev, next } = Astro.props;
---

<div class="relative">
  <!-- Swiper -->
  <div class="swiper" id={id}>
    <div class="swiper-wrapper">
      <slot />
    </div>
  </div>

  {
    navigation && (
      <slot name="navigation">
        <button
          class={`absolute left-2 top-1/2 -translate-y-1/2 z-10 bg-white text-dark p-2 rounded-full shadow w-10 h-10 flex items-center justify-center ${prev}`}
          title="prev"
        >
          <Icon name="lucide:arrow-left" size={20} />
        </button>

        <button
          class={`absolute right-2 top-1/2 -translate-y-1/2 z-10 bg-white text-dark p-2 rounded-full shadow w-10 h-10 flex items-center justify-center ${next}`}
          title="next"
        >
          <Icon name="lucide:arrow-right" size={20} />
        </button>
      </slot>
    )
  }
</div>
