---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Drawer from "../components/Drawer.astro";
const { title, description, image } = Astro.props;

import { ClientRouter } from "astro:transitions";

const anim = {
  old: {
    name: "FadeIn",
    duration: "0.5s",
    easing: "ease-in",
    direction: "reverse",
  },
  new: {
    name: "FadeIn",
    duration: "0.5s",
    easing: "ease-in-out",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="drawer min-h-screen">
      <input
        id="my-drawer-2"
        type="checkbox"
        class="drawer-toggle"
        title="Toggle navigation menu"
      />
      <label for="my-drawer-2" class="sr-only"> Toggle navigation menu </label>
      <div class="drawer-content flex flex-col min-h-screen">
        <main class="min-h-screen flex flex-col">
          <Header />
          <slot />
        </main>
        <Footer />
      </div>
      <Drawer />
    </div>
  </body>
</html>
